@media only screen and (max-width: 800px) {
  .curr-meeting-info {
    flex-direction: column;
  }
  .curr-meeting-header {
    font-size: var(--section-heading-size-mobile) !important;
  }

  .curr-meeting-left {
    width: 100% !important;
    margin-bottom: 50px;
  }
  .curr-meeting-right {
    /* display: flex; */
    width: 100% !important;
    justify-content: center;
  }
}

.curr-meeting-container {
  color: white;
  display: flex;
  flex-direction: column;
}

.curr-meeting-header {
  font-size: var(--section-heading-size);
  letter-spacing: var(--heading-letter-spacing);
}

.curr-meeting-header > span {
  color: var(--section-color);
}

.curr-meeting-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.curr-meeting-left {
  width: 50%;
  color: rgb(178, 177, 177);
  font-size: var(--section-sub-heading-size) !important;
}

.curr-meeting-left > p {
  margin-bottom: 10px;
}

.curr-meeting-left > p > span {
  color: white;
}

.curr-meeting-right {
  width: 40%;
  background: linear-gradient(to bottom right, rgb(249, 156, 238, 0.2), rgb(1, 55, 249, 0.05));
  display:grid;
  height: 100%;
}

.curr-meeting-img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
