@media only screen and (max-width: 800px) {
  .about-container {
    background-repeat:repeat-y !important;
    background-size: auto !important;
    background-position: right !important;
    background-size: 60% !important;
    background-position-y: 80% !important;
  }

  .about-info {
    flex-direction: column;
  }

  .about-header {
    font-size: var(--section-heading-size-mobile) !important;
  }

  .about-left,
  .about-right {
    width: 100% !important;
  }

  .about-left {
    margin-bottom: 50px;
  }
}

.about-container {
  color: white;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, rgba(255, 0, 149, 0.123) 0%,
  rgb(15, 15, 15)), url("../../../assets/img1.jpg");
  box-shadow: 0 0 5px 5px #0c0c0c inset;
  background-repeat:repeat-y;
  background-size: auto;
  background-position: right;
  background-size: 40%;
  background-position-y: 80%;
}

.about-header {
  font-size: var(--section-heading-size);
  letter-spacing: var(--heading-letter-spacing);
}

.about-header > span {
  color: var(--section-color);
}

.about-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.about-left {
  width: 50%;
  font-size: var(--section-sub-heading-size) !important;
}

.about-right {
  width: 40%;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--section-grey-color);
}

.about-right > p {
  margin-bottom: 20px;
}

.about-right > p > span {
  color: white;
  font-weight: 700;
}
