@media only screen and (max-width: 800px) {
  .add-meeting-header {
    font-size: var(--section-heading-size-mobile) !important;
  }
  .add-meeting-info {
    flex-direction: column;
  }

  .add-meeting-left,
  .add-meeting-right {
    width: 100% !important;
    margin-bottom: 30px;
  }
}

.add-meeting-container {
  color: white;
  display: flex;
  flex-direction: column;
}

.add-meeting-header {
  font-size: var(--section-heading-size);
  letter-spacing: var(--heading-letter-spacing);
}

.add-meeting-header > span {
  color: var(--section-color);;
}

.add-meeting-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.add-meeting-left {
  width: 50%;
  font-size: 1.1rem;
}

.add-meeting-left > p {
  color: var(--section-grey-color);
  font-size: small;
  margin-top: 15px;
  text-align: right;
}

.add-meeting-left > span {
  color: var(--section-grey-color);
  font-style: italic;
}

.add-meeting-right {
  width: 40%;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 280px;
}

.add-meeting-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
}

.add-meeting-form-row {
  display: flex;
  /* justify-content: space-between; */
}

.add-meeting-form-row > div {
  width: 47%;
}

.add-meeting-form-message {
  height: 150px;
}

.add-meeting-form-group {
  display: flex;
  flex-direction: column;
}

.add-meeting-form-field {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.add-meeting-form-button {
  /* width: 70px;
  height: 30px;
  font-weight: 500; */
  background-color: rgb(3, 234, 255);
}
