extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text' placeholder='Name' name='name' required='true' value=(undefined===member ? '' : member.name) )
    
      label(for='phone') Phone number:
      input#phone.form-control(type='text' placeholder='Phone number' name='phone' required='true' value=(undefined===member ? '' : member.phone))      
    
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg
