@media only screen and (max-width: 800px) {
  .footer-right-options {
    display: none !important;
  }
  .footer-container {
    position: inherit !important;
    width: 100%;
  }
}

.footer-container {
  color: white;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  height: 50px;
  align-items: center;
}

.footer-left {
  width: 30%;
  margin-left: 1rem;
}

.footer-left > a {
  justify-content: flex-start;
}

.footer-right-options {
  color: var(--section-grey-color);
  width: 137%;
  display: flex;
  justify-content: space-between;
}

.footer-right-options > a:hover {
  color: var(--section-color) !important;
}

.footer-menu-options {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100vw;
  height: 85vh;
  background-color: #121212;
  z-index: 1;
}

.footer-menu-options > svg {
  font-size: 3rem;
}
