@media only screen and (max-width: 800px) {
  .take-part-header {
    font-size: var(--section-heading-size-mobile) !important;
  }
  .take-part-info {
    flex-direction: column;
  }

  .take-part-left,
  .take-part-right {
    width: 100% !important;
    margin-bottom: 30px;
  }
}

.take-part-container {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 320px;
}

.take-part-header {
  font-size: var(--section-heading-size);
  letter-spacing: var(--heading-letter-spacing);
}

.take-part-header > span {
  color: var(--section-color);;
}

.take-part-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.take-part-left {
  width: 50%;
  font-size: 1.1rem;
}

.take-part-left > p {
  color: var(--section-grey-color);
  font-size: small;
  margin-top: 15px;
  text-align: right;
}

.take-part-left > span {
  color: var(--section-grey-color);
  font-style: italic;
}

.take-part-right {
  width: 40%;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 280px;
  color: var(--section-light-grey-color);
}

.take-part-right > div > p {
  justify-content: space-between;
  margin: 5px 2px 5px 2px;
}

.take-part-right > div > p > span {
  color: var(--section-purple-color);
  font-style: italic;
}

.take-part-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
}

.take-part-form-row {
  display: flex;
  /* justify-content: space-between; */
}

.take-part-form-row > div {
  width: 47%;
}

.take-part-form-col {
  color: var(--section-light-grey-color);
  margin-bottom: 20px;
}

.take-part-form-col > p {
  justify-content: space-between;
  margin: 20px 2px 20px 2px;
}

.take-part-form-col > span {
  color: var(--section-purple-color);
  font-style: italic;
}

.take-part-form-message {
  height: 150px;
}

.take-part-form-group {
  display: flex;
  flex-direction: column;
}

.take-part-form-field {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.take-part-form-button {
  /* width: 70px;
  height: 30px;
  font-weight: 500; */
  background-color: rgb(3, 234, 255);
}
